<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 (Monday, 10 March)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td>Follow <a href="https://carpentries-incubator.github.io/python-intermediate-development/installation-instructions.html"
			target="_blank">setup</a> instructions after reading notes above.</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:45</td>        <!-- time    -->
        <td>Any setup issues</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-intermediate-development/10-section1-intro"
			target="_blank">Section 1: Setting Up Environment For Collaborative Code Development</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:30</td>        <!-- time    -->
        <td>End of Session.</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 (Tuesday, 11 March)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-intermediate-development/20-section2-intro"
			target="_blank">Section 2: Ensuring Correctness of Software at Scale (Testing)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:30</td>        <!-- time    -->
        <td>End of Session. </td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 (Tuesday, 18 March)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-intermediate-development/30-section3-intro"
			target="_blank">Section 3: Software Development as a Process</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:30</td>        <!-- time    -->
        <td>End of Session</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 (Wednesday, 19 March)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-intermediate-development/30-section3-intro"
			target="_blank">Section 3: Software Development as a Process</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:30</td>        <!-- time    -->
        <td>End of Session.</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5 (Monday, 24 March)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-intermediate-development/40-section4-intro"
			target="_blank">Section 4: Collaborative Software Development for Reuse</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:30</td>        <!-- time    -->
        <td>End of Session.</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 6 (Tuesday, 25 March)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>13:00</td>        <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/python-intermediate-development/50-section5-intro"
			target="_blank">Section 5: Managing and Improving Software Over Its Lifetime</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>16:30</td>        <!-- time    -->
        <td>End of Workshop. <a href="{{ site.incubator_post_survey }}" target="_blank">Post-course Survey</a>.</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
